.btn-outline-primary {
  color: rgb(59, 73, 223);
  border-color: rgb(59, 73, 223);
}
.btn-outline-primary:hover {
  background-color: rgb(59, 73, 223);
  color: #fff;
  text-decoration: underline;
}

.btn-avatar {
  width: 48px;
  height: 48px;
}
.btn-avatar .img-avatar {
  width: 100%;
}

.offcanvas.offcanvas-start {
  width: 90%;
  max-width: 300px;
}
.offcanvas .nav-link span {
  margin-right: 4px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.aside__publicity {
  font-weight: 900;
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
}
.aside__publicity--title {
  color: rgb(59, 73, 223);
}

.listing {
  background-color: rgb(250, 250, 250);
}
.listing a:hover {
  background: white;
}
.listing a:hover p {
  color: rgb(47, 58, 178);
}
.listing__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.listing__anchor {
  font-size: 14px;
}
.listing__text {
  font-size: 16px;
  line-height: 24px;
  color: black;
}
.listing__figcaption {
  font-size: 14px;
  color: rgb(113, 113, 113);
}
.listing__btn {
  font-size: 14px;
  font-weight: 500;
  color: black;
  padding: 12px;
}
.listing__nobg:hover {
  background: none !important;
}
.listing__nobg:hover p {
  color: rgb(47, 58, 178);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: -apple-system, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.menu-main .current {
  font-weight: bolder;
}
.menu-main__btn {
  border: none;
}
.menu-main__btn:hover {
  background: white;
  color: rgb(59, 73, 223);
}

p.name {
  font-size: 14px;
  font-weight: 500;
}

label.date {
  margin-top: -1rem;
  font-size: 12px;
  color: #6c757d;
  margin-top: -5px;
}

.article {
  font-size: 12px;
}
.article__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
}
.article__title--ppal {
  font-size: 30px;
}
.article__link {
  font-size: 14px;
  text-decoration: none;
  color: black;
}
.article__autor {
  width: 32px;
  height: 32px;
}
.article__btn {
  font-size: 14px;
}
.article__btn--programming:hover {
  background-color: rgba(137, 6, 6, 0.1);
  border-color: #890606;
}
.article__btn--programming span {
  color: #890606;
}
.article__btn--design:hover {
  background-color: rgba(6, 255, 106, 0.1);
  border-color: #06ff6a;
}
.article__btn--design span {
  color: #06ff6a;
}
.article__btn--beginners:hover {
  background-color: rgba(0, 131, 53, 0.1);
  border-color: #008335;
}
.article__btn--beginners span {
  color: #008335;
}
.article__btn--productivity:hover {
  background-color: rgba(42, 7, 152, 0.1);
  border-color: #2a0798;
}
.article__btn--productivity span {
  color: #2a0798;
}
.article__btn--showdev:hover {
  background-color: rgba(9, 27, 71, 0.1);
  border-color: #091b47;
}
.article__btn--showdev span {
  color: #091b47;
}
.article__btn--sideprojects:hover {
  background-color: rgba(59, 73, 223, 0.1);
  border-color: #3b49df;
}
.article__btn--sideprojects span {
  color: #3b49df;
}
.article__btn--watercooler:hover {
  background-color: rgba(208, 236, 255, 0.1);
  border-color: #d0ecff;
}
.article__btn--watercooler span {
  color: #d0ecff;
}
.article__btn--save {
  background-color: #d6d6d7;
  border: none;
}
.article__btn--save:hover {
  background-color: #bdbdbd;
}
.article__btn--watercooler:hover {
  background-color: rgba(208, 236, 255, 0.1);
  border-color: #d0ecff;
}
.article__btn--watercooler span {
  color: #d0ecff;
}
.article__btn--discuss:hover {
  background-color: rgba(26, 214, 67, 0.1);
  border-color: #1ad643;
}
.article__btn--discuss span {
  color: #1ad643;
}
.article__btn--ux:hover {
  background-color: rgba(0, 101, 179, 0.1);
  border-color: #0065B3;
}
.article__btn--ux span {
  color: #0065B3;
}
.article__btn--css:hover {
  background-color: rgba(41, 101, 241, 0.1);
  border-color: #2965F1;
}
.article__btn--css span {
  color: #2965F1;
}
.article__btn--computerscience:hover {
  background-color: rgba(217, 140, 217, 0.1);
  border-color: #d98cd9;
}
.article__btn--computerscience span {
  color: #d98cd9;
}
.article__btn--kubernetes:hover {
  background-color: rgba(50, 109, 230, 0.1);
  border-color: #326de6;
}
.article__btn--kubernetes span {
  color: #326de6;
}
.article__down {
  border: none;
  font-size: 14px;
}
.article__down:hover {
  background-color: rgba(0, 0, 0, 0.035);
  border: none;
}

@media (max-width: 767px) {
  .identation {
    padding-left: 0px !important;
    margin-left: 0px !important;
  }
}
header.fixed-top + main {
  padding-top: calc(1.5rem + 56px);
  margin-bottom: 1.5rem;
}/*# sourceMappingURL=style.css.map */