@use'../variables';

.footer {
    padding: 60px;

    &__paragraph {
       padding-left: 0px;
       padding-right: 0px;
       font-size: 17.5px;
    }

    &__link {
        text-decoration: none;
        color: rgb(59 73 223);
    }

    &__imgAnchor {
        width: 44px;
        height: 50px;
        align-items: center;
        
        &--svg {
            width: 24px;
            height: 30px;
        }
    }
}

