@use '../variables';
.btn-outline-primary{
    color: variables.$color-primary;
    border-color: variables.$color-primary;
    &:hover{
        background-color: variables.$color-primary;
        color: #fff;
        text-decoration: underline;
    }
}

.btn-avatar{
    width: 48px;
    height: 48px;

    .img-avatar{
        width: 100%;
    }
}


.offcanvas{
    &.offcanvas-start{
        width: 90%;
        max-width: 300px;
    }

    .nav-link{
        span{
            margin-right: 4px;
        }
    }
}
